/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public/bundles/
/public/uploads/avatar/*
/public/uploads/blog/*
/public/uploads/games/*
.idea
node_modules
/web/src/.tmp
gs3.min.*
gs3_backend.min.js
/.env*
/public/banner/*