<h1 class="mt0 mb20">Willkommen zu Gameserver-Sponsor 3!</h1>

<div class="slide" id="slide1">
    <div class="bg-white pa30">
        <h2 class="mt0">Willkommen Neuling!</h2>
        <p>
            Wir möchten in diesen kleinem Tutorial dich ein bisschen in unsere Webseite einweisen.
        </p>
    </div>
</div>
<div class="slide hidden" id="slide2">
    <div class="bg-white pa30">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="mt0">Was sind diese "GP Punkte"?</h2>
                <p>
                    Die GP-Punkte sind vergleichbar zu Gold oder Diamenten! Du wirst sie benötigen um dir deinen Gameserver zu bestellen.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="slide hidden" id="slide3">
    <div class="bg-white pa30">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="mt0">Wie erhalte ich diese "GP Punkte"?</h2>
                <p>
                    Du kannst Punkte durch verschiedene Sachen verdienen wie
                    <ul>
                        <li>Spieler auf deinem Server</li>
                        <li>Ref-Link</li>
                        <li>Registrierung durch einem Ref-Link</li>
                        <li>Tägliches Login</li>
                    </ul>

                    <br>
                    Durch Abschliessen dieses Tutorials wirst du bereits deine ersten Punkte sammeln
                </p>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-primary pull-right mt20" data-tutorial="true" href="{{ baseUrl }}index/tutorial">Fortfahren</a>