<div class="panel panel-primary">
    <link rel="stylesheet" href="https://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
    <div class="panel-heading">
        <h2>{{ title }}</h2>
        <ul class="nav nav-tabs">
            <li ng-class="tab == 'de' ? 'active' : ''">
                <a ng-click="tab = 'de'">Deutsch</a>
            </li>
            <li ng-class="tab == 'en' ? 'active' : ''">
                <a ng-click="tab = 'en'">Englisch</a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" ng-model="blog.data.author">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="blog.data.publish" ng-true-value="'1'" ng-false-value="'0'"> Publischen?
                </label>
            </div>
            <div class="form-group">
                <label>Bild</label>
                <input onchange="angular.element(this).scope().uploadFile(this.files)" type="file">
            </div>
            <div class="form-group">
                <label>CSS Listing Bild</label>
                <input class="form-control" ng-model="blog.data.cssListing">
            </div>
            <div class="form-group">
                <label>CSS Detail Bild</label>
                <input class="form-control" ng-model="blog.data.cssDetail">
            </div>
            <div class="tab-content">
                <div class="tab-pane fade" ng-class="tab == 'de' ? 'in active' : ''">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="blog.data.title_de">
                    </div>
                    <div class="form-group">
                        <label>Text</label>
                        <ng-simditor content="blog.data.content_de"></ng-simditor>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="tab == 'en' ? 'in active' : ''">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="blog.data.title_en">
                    </div>
                    <div class="form-group">
                        <label>Text</label>
                        <ng-simditor content="blog.data.content_en"></ng-simditor>
                    </div>
                </div>
            </div>
            <tags-input ng-model="blog.data.tags" add-on-paste="true">
                <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
            <button class="btn btn-primary pull-right" ng-click="saveBlog()">Speichern</button>
        </form>
    </div>
</div>